body {
  background: url(https://lh3.google.com/u/0/d/1vgU8CQqk9G057GopPaA-smiSyEuto8tc=w1280-h697-iv1) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}